@import '../../assets/base.scss';

.file-item {
    >button {
        background-color: $green;
        color: $white;
        padding: $spacing-l;
        border-radius: 4px;
        border: 1px solid $green;
        margin-bottom: $spacing-xs;
        display: flex;
        justify-content: space-between;

        .name {
            max-width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .toggle-icon {
            margin-left: $spacing-l;
            cursor: pointer;
        }
    }
}

.file-input {
    padding: $spacing-xs $spacing-l;
    margin-bottom: $spacing-s;
    border-radius: 4px;
    border: 1px solid $black;
}

.nested-files {
    padding-left: $spacing-xl;
}