/** Color scheme */
$green: green;
$white: #ffffff;
$black: #000000;


/** Size variation scheme */
$spacing-xs: 4px;
$spacing-s: 6px;
$spacing-m: 8px;
$spacing-l: 10px;
$spacing-xl: 12px;
$spacing-xxl: 16px;